.nav-btn {
  display:flex;
  flex-direction:column;
  align-items:center;
  gap:2px;
  color:#ff4fa3;
  transition:0.3s;
}

.nav-btn.active {
  color:#d63384;
}

.nav-btn:hover {
  transform:scale(1.1);
}

.card {
  background:white;
  border-radius:16px;
  box-shadow:0 5px 15px rgba(0,0,0,0.08);
  transition:0.3s;
}

.card:hover {
  transform:scale(1.03);
}

.fade-in {
  animation:fade 0.4s ease-in-out;
}

@keyframes fade {
  from {opacity:0; transform:translateY(10px);}
  to {opacity:1; transform:translateY(0);}
}